* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}
body {
    font-family: 'Rubik', sans-serif;
    color: #2e3035;
}

.container {
    width: 1200px;
    margin: 0 auto;
    max-width: 1200px;

}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}







/* NAVIGATION */

.navbar {
    width: 100%;
    height: 50px;
    background: #fff;
    border-bottom: 1px solid #d4d4d4;
    padding-top: 5px;


}
.nav__ul {
    display: flex;
    /* align-items: center; */
    width: 400px;

    list-style: none;
    justify-content: space-between;

    
}
.nav__ul li {
    margin-left: 10px;
}

.nav__ul li a {
    color: #1a1a1a;
    text-decoration: none;


}

.logo {
    /* margin: 0; */
    color: #DB0962;
    font-size: 26px;
    /* margin-right: 50px; */
    
}


.login {
    width: 100px;
    height: 30px;
    border-radius: 30px;
    line-height: 25px;
    text-decoration: none;
    font-size: 16px;
    background: #DB0962;
    border: 1px solid #DB0962;
    /* box-shadow: 0 6px 10px #DB0962; */
    transition: all 0.3s ease-in-out;
    color: white;   
    margin-right: 20px;

}

/* Hero Section */


.hero {
    width: 100%;
    height: 700px;
    /* background-color: #c2c2c2; */
    background-size: cover;
    /* opacity: 0.5; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(img/foto-pettine-IfjHaIoAoqE-unsplash.jpg);
    /* background-image: url("img/foto-pettine-IfjHaIoAoqE-unsplash.jpg"); */
    /* background-color: black; */
    padding-top: 100px;
}

.hero__title {
    text-align: center;
    font-size: 2rem;
    color: #fff;
    line-height: 45px;
    margin-bottom: 20px;
}



.finder {
    width: 800px;
    height: 60px;
    background: #fff;
    margin: 0 auto;
    border-radius: 30px;

}




/* Offers Section */

.offers {
    margin-top: 50px;

}
.offers__title {
    font-size: 2rem;
}

.finder {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    /* padding-right: 5px; */
    align-items: center;
}

.finder__search {
    width: 150px;
    height: 50px;
    border-radius: 30px;
    line-height: 25px;
    text-decoration: none;
    font-size: 16px;
    background: #DB0962;
    border: 1px solid #DB0962;
    /* box-shadow: 0 6px 10px #DB0962; */
    transition: all 0.3s ease-in-out;
    color: white;   
    /* margin-right: 0px; */
}

/* Dropdown */

.dropdown {
    position: relative;
    min-width: 5em;
    width: 200px;
    height: 50px;

}

.dropdown * {
    box-sizing: border-box;
}

.select {
    background: #fff; 
    color: #1a1a1a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px #ebebeb solid; */
    border-radius: 30px;
    padding: 1em;
    padding-left: 1.2em;

    cursor: pointer;
    transition: background 0.3s;
    height: 50px;



}

.select:hover {
    background: #ebebeb;
    /* 323741 */

}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #a0a0a0;
    transition: 0.3s;

}

.caret-rotate {
    transform: rotate(180deg);
}


.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: #fff;
    /* 323741 */
    /* border: 1px #363a43; */
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    color: #9fa5b5;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 30px;
    cursor: pointer;
    padding-left: 1.2em;
}

.menu li:hover {
    background: #ebebeb;
}
.active {
    background: #dbdbdb;
}
.menu-open {
    display: block;
    opacity: 1;
}


.select-clicked {
    background: #ebebeb;
    /* border: 2px #DB0962 solid; */
    /* box-shadow: 0 0 0.8em #DB0962; */
}

.selected {
    /* margin-left: 5px; */
}




.date-picker {
    width: 200px;
    height: 50px;
    /* color: #1a1a1a; */
    border-radius: 30px;
    border: none;
    /* padding: 1em; */
    /* padding-left: 1.2em; */
    font-size: 15px;
    cursor: pointer;
    transition: background 0.3s;
    padding-left: 20px;
}

.date-picker:hover {
    background: #ebebeb;
}